<mat-form-field class="example-chip-list">
  <mat-label>Report recipients</mat-label>
  <mat-chip-list [formControl]="ctrl" #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let fruit of ctrl.value"
             [class.mat-error]="(ctrl.getError('pattern')?.includes(fruit))"
             [removable]="true"
             (dblclick)="edit(fruit, input)"
             selected
             (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="Add recipients"
           #input
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="false"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-hint>The contacts you add here will receive the report. You can copy/paste contacts from your email app (Outlook etc)</mat-hint>
  <mat-error *ngIf="ctrl.hasError('pattern')">
    Invalid emails in list: {{ ctrl.getError('pattern') }}
  </mat-error>
</mat-form-field>

<br>
<br>
<br>
<br>
<br>
<span>
Ingvild Ødegård &lt;inod@equinor.com&gt;; Jon Rogde &lt;jonrog@equinor.com&gt; pcaa@equinor.com, rhenri@equinor.com^ronnie.laugen@olavstoppen.no;a.b.com

</span>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->